.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: auto 60px;

.nav-link {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item-cart a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
}    

.nav-item-cart img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
